body{
    background-color: gainsboro;
}

.board {
    background-color: #ffc9c9;
    border: 5px black solid;
    margin: 0 auto;
    padding: 0px;
    width: 460px;
    height: 460px;
}

.game-square {
    border: 3px black solid;
    font-size: 74px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}

.player {
    font-size: 40px;
    margin: 10px;
}

.game-row {
    margin-left: 0;
}

.winner {
    font-size: 40pt;
}

.board-marker {
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    display: inline;
}